.geral{
    width: auto;
    height: auto;
    margin: 2px;
    border: 2px solid black;

}

header{
	position: relative;
	border: 1px solid black;
	width: auto;
	height: 70px;
	margin-bottom: 0px;
	background-color: #FF0606;

}

.logo{
	position: relative;
	height: 65px;
	padding: 3px;
	border-right: 2px solid black;
	margin: 0px;
	display: inline;

}

.titulo{
	position: absolute;
	left: 33%;
	display: inline-block;
	font-family: 'Crimson Text', serif;
	font-size: 64px;
}

footer {
	position: relative;
	
    border: 2px solid black;
    height: 44px;
    background-color: #FF0606
}

.foto_perfil1{
	position: absolute;	
	height: 40px;
 	margin-top: 2px;

}

.foto_perfil2{
	position: absolute;
	height: 40px;
	margin-top: 2px;
	left:40px;
 

}

.foto_perfil3{
	position: absolute;
	height: 40px;
	margin-top: 2px;
	left:80px;
 

}

.foto_perfil4{
	position: absolute;
	height: 40px;
	margin-top: 2px;
	left:120px;
 

}

.link_sobremim{
	position: absolute;
	height: 60px;
	margin-top: 10px;
	right: 50%;
}

.copyright{
	position: absolute;
	right:10px;
}


.corpo{
	position: relative;
	margin-top: 20px;

}

.video{
	position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
	display: block;
}

strong{
	font-weight:bold;
	font-size: 21px;
}

.resumo{
	font-size: 18px;
	margin: 30px;
}

.perguntas{
	font-size: 18px;
	margin: 30px;
}

li{
	margin-top: 10px;
}

.titulo_video{
	margin: 10px;
	font-size: 41px;
}