.geral{
	position: relative;
    width: 1300px;
    height: 1200px;
    margin: auto;
    border: 1px solid black;
}


.mecatronica{
	position: absolute;
	top:100px;
	left: 500px;
	border:1px;
	display: inline;
}

.mecanica{
	position: absolute;
	top:100px;
	left: 50px;
	border:1px;
	display: inline;
}

.computacao{
	position: absolute;
	top:100px;
	left: 950px;
	border:1px;
	display: inline;
}



.foto_mec{
	height: 199px;
	width: 254px;	
}

.foto_meca{
	height: 199px;
	width: 254px;	
}

.foto_comp{
	height: 199px;
	width: 254px;	
}

.teorico{
	position: relative;
	top:600px;
	left: 150px;
	border:1px;
	display: inline;
}

.praticos{
	position: relative;
	top:220px;
	left: 750px;
	display: inline;
}



.foto_teorico{
	height: 199px;
	width: 254px;	
}

.foto_pratico{
	height: 199px;
	width: 254px;	
}

header {
	position: relative;
	border: 1px solid black;
    width: auto;
    height: 50px;
    padding: 5px;
	
}

.logo{
	position: absolute;
	align-content: right;


}
.titulo{
	position: absolute;
	text-align: center;
	width: 100%;
	margin:0;
	top: 20%;

}


footer {
	position: relative;
	top:306px;
    border: 1px solid black;
    height: 44px;
}

.foto_perfil1{
	position: absolute;	
	height: 40px;
 	margin-top: 2px;

}

.foto_perfil2{
	position: absolute;
	height: 40px;
	margin-top: 2px;
	left:40px;
 

}

.foto_perfil3{
	position: absolute;
	height: 40px;
	margin-top: 2px;
	left:80px;
 

}

.foto_perfil4{
	position: absolute;
	height: 40px;
	margin-top: 2px;
	left:120px;
 

}

.link_sobremim{
	position: absolute;
	height: 60px;
	margin-top: 10px;
	right: 50%;
}

.copyright{
	position: absolute;
	right:10px;
}